<!DOCTYPE html>
<html>
<head>
	<title>Members App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-4">
		{{{body}}}		
	</div>
</body>
</html>