header
 .container
  .row
   .col.col-xs-12.col-lg-3
    h1 Online exam
   .col.col-xs-12.col-lg-9
    a.btn.btn-lg.btn-light.btn-outline-info.pull-right.mt-2.text-info(style="float:right;" href="/login") Login
    a.btn.btn-lg.btn-primary.btn-outline-info.pull-right.mt-2.mr-2.text-white(style="float:right;" href="/sign-up") Sign Up